<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rikharthu.contentproviderdemo">

    <!--a permission that a client is required to have in order to use our content provider -->
    <permission android:name="com.example.rikharthu.contentproviderdemo.READ_WRITE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.NotesContentProvider"
            android:authorities="com.example.rikharthu.contentproviderdemo.provider"
            android:exported="true"
            android:permission="com.example.rikharthu.contentproviderdemo.READ_WRITE" />

    </application>

</manifest>